.about {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.foto {
  display: block;
  width: 100%;
  height: auto;
}

.about-me {
  grid-column: 1/-1;
  justify-self: center;
  text-align: center;
  margin-bottom: 64px;
}

.about-exp {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  align-items: end;
  justify-items: start;
}

.about-card {
  background-color: var(--cor-1);
  padding: 16px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 8px;
  justify-self: start;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);

  text-align: center;
}

.card-two li:last-child {
  min-width: 12ch;
}

.about-card .font-1-m {
  font-weight: 500;
}

.about-exp .font-2-m {
  font-weight: 400;
}

.about-exp .pink-btn {
  grid-column: 1;
  align-self: center;
  margin-top: 0px;
}

.intro-music {
  grid-column: 1;
  align-self: flex-start;
}

.about-exp p {
  grid-column: 1/-1;
  max-width: 50ch;
}

.intro-music {
  display: flex;
  align-items: center;
  background-color: var(--cor-1);
  padding: 12px 28px;
  border-radius: 8px;
  gap: 16px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  align-self: center;
}

@media (max-width: 1100px) {
  .about-card {
    padding: 8px 36px;
  }
}

@media (max-width: 1000px) {
  .about-card {
    padding: 8px 24px;
  }
}

@media (max-width: 950px) {
  .about-exp {
    gap: 18px 0px;
  }

  .about-card {
    /* padding: 8px 12px; */
  }

  .pink-btn {
    padding: 8px 16px;
  }
}

@media (max-width: 850px) {
  .foto-div {
    display: none;
  }

  .about {
    grid-template-columns: 1fr;
    align-content: center;
  }

  .about-card {
    justify-self: center;
    padding: 12px 65px;
  }

  .about-exp {
  }
}
