.about {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.foto {
  display: block;
  width: 100%;
  height: auto;
}

.about-me {
  grid-column: 1/-1;
  justify-self: center;
  text-align: center;
  margin-bottom: 40px;
}

.about-exp {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  align-items: end;
  justify-items: start;
}

.about-card {
  background-color: var(--cor-1);
  padding: 16px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 8px;
  justify-self: start;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);

  text-align: center;
}

.card-two li:last-child {
  min-width: 12ch;
}

.about-card .font-1-m {
  font-weight: 500;
}

.about-exp .font-2-m {
  font-weight: 400;
}

.about-exp .pink-btn {
  grid-column: 1;
  align-self: center;
  margin-top: 0px;
}

.intro-music {
  grid-column: 1;
  align-self: flex-start;
}

.about-exp p {
  grid-column: 1/-1;
  max-width: 50ch;
}

.intro-music {
  display: flex;
  align-items: center;
  background-color: var(--cor-1);
  padding: 12px 28px;
  border-radius: 8px;
  gap: 16px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  align-self: center;
}

/* Responsividade */

@media (max-width: 1100px) {
  .about-card {
    padding: 8px 36px;
  }
}

@media (max-width: 1000px) {
  .about-card {
    padding: 8px 24px;
  }
}

@media (max-width: 950px) {
  .about-exp {
    gap: 18px 0px;
  }

  .pink-btn {
    padding: 8px 16px;
  }
}

@media (max-width: 850px) {
  .foto-div {
    display: none;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .about-card {
    padding: 12px 65px;
  }

  .about-exp {
    justify-self: center;
    grid-template-columns: minmax(0, 250px) minmax(0, 250px);
  }

  .about-exp p {
    justify-self: start;
  }

  .about-exp .pink-btn {
    justify-self: start;
  }

  .intro-music {
    justify-self: start;
    grid-column: 1/-1;
  }

  .card-two {
    justify-self: end;
  }
}

@media (max-width: 600px) {
  .about-card {
    padding: 12px 0;
    width: 35vw;
  }
}

@media (max-width: 450px) {
  .about-card {
    width: 32vw;
  }

  .about-me {
    margin-bottom: 30px;
  }

  .about-exp .pink-btn {
    padding: 6px 10px;
    font-size: 0.8rem;
  }
}

@media (max-width: 360px) {
  .card-two {
    grid-column: 1/-1;
  }

  .about-card {
    width: 65vw;
    justify-self: start;
  }

  .intro-music {
    padding: 12px 18px;
    flex-direction: column;
  }
}

@media (max-width: 325px) {
  .about-card {
    width: 60vw;
    justify-self: start;
  }

  .about-exp .pink-btn {
    grid-column: 1/-1;
    justify-self: center;
  }

  .intro-music {
    flex-direction: row;
    padding: 0;
    width: 20vw;
    background-color: white;
  }

  .intro-music img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 270px) {
  .about-card {
    width: 50vw;
  }
}
